.main-content {
  padding: 20px;
  text-align: center;
}
.id-box {
  margin-bottom: 20px;
}
.id-box input {
  padding: 5px;
  width: 200px;
}
.record-box {
  display: inline-block;
  border:3px solid #9EDDFF;;
  padding: 20px;
  border-radius: 10px;
}
 .content {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* 左揃えに変更 */
  margin-bottom: 10px;
}
.content label {
  width: 130px;
  text-align: left;
  margin-right: 10px;
}
.content input {
  width: 100px;
  padding: 5px;
  margin: 0 10px;
  background-color: #FFFAD0; 
  border: 3px solid #9EDDFF;
}
.arrow {
  font-size: 18px;
  font-weight: bold;
}
.btn-box {
  margin-top: 30px;
}
.edit-btn, .delete-btn {
  padding: 10px 20px;
  margin: 0 15px;
  background-color: rgb(196, 255, 255);
  border: 3px solid #9EDDFF;
  border-radius: 8px;
  font-weight: bold;
}
