.Logo img{
    width: 300px;
    height: auto;
}

.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.usercontent {
    text-align: center;
}

#textinput {
    font-size: 30px;
}


.textbox {
    width: 250px; 
    height: 30px; 
    background-color: #fffad0; 
    border: 3px solid #9EDDFF;
    border-radius: 4px;
}

.btn {
    text-align: center;
    margin-top: 10px;
    width: 120px;
    height: 60px;
    border-radius: 4px;
    border: none;
    background-color: rgb(196, 255, 255);
    margin-top: 40px;
    font-size: 20px;
}

#textinput h3, #textinput .textbox {
    margin: 5px 0; 
}