* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: #00BFE9; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.logo-container img{
  padding-left: 30px;
  width: 130px;  
  height: 80px;
}
.welcome-text {
  text-align: center;
  flex-grow: 1;
  color: black;
  font-weight: bold;
  font-size: 35px;
}
.buttons {
  display: flex;
  gap: 10px;
}
.headerbtn {
  padding: 8px 16px;
  border: none;
  border-radius: 15px;
  background-color: white;
  font-size: 28px;
  cursor: pointer;
  height: 80px;
}
.headerbtn:hover {
  background-color: #ddd;
}






