<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>Timinute</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/Attendance Registration.css">
</head>

<body>

<header class="header">
    <div class="logo-container">
      <img src="../image/Timinute_logo.png" alt="画像">
    </div>
    <div class="welcome-text">
      <p>お疲れ様です！<br>管理者さん</p>
    </div>
    <div class="buttons">
      <a href="userhome.html"><button class="headerbtn">HOME</button></a>
      <a href="login.html"><button class="headerbtn">Logout</button></a>
    </div>
</header>

<div class="container">
    <div class="left-content">
        <div class="all">
            <div class="date" id="date"></div>
            <div class="time" id="time"></div>
            <script src="../js/Attendance Registration.js"></script>
        </div>
        <div class="category">
            <label>
                <input type="radio" name="option" value="1" checked>出勤
            </label>
            <label>
                <input type="radio" name="option" value="2">振出
            </label>
        </div>
    </div>
    <div class="button-grid">
        <a href="ClockIn.html"><button class="roundbtn">出勤</button></a>
        <a href="ClockOut.html"><button class="roundbtn">欠勤</button></a>
        <a href="StartBreak.html"><button class="roundbtn">休憩開始</button></a>
        <a href="ENDBreak.html"><button class="roundbtn">休憩終了</button></a>
    </div>
</div>

</body>
</html>


