<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>Timinute</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/RegistrationResult.css">
</head>

<body>

<header class="header">
    <div class="logo-container">
      <img src="../image/Timinute_logo.png" alt="画像">
    </div>
    <div class="welcome-text">
      <p>お疲れ様です！<br>○○さん</p>
    </div>
    <div class="buttons">
		<a href="/userhomepage"><button class="headerbtn">HOME</button></a>
		<form th:action="@{/logout}" method="post" style="display: inline;">
			<button class="headerbtn" type="submit">Logout</button>
		</form>
    </div>
  </header>

<div class="whole">
<h1>時間はいる</h1>

<h2>休憩を終了しました</h2>

<a href="/attendance/register"><button class="btn" type="button">もどる</button></a>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const time = sessionStorage.getItem("lastTime");
        if (time) {
            document.querySelector("h1").textContent = time;
        } else {
            document.querySelector("h1").textContent = "時間が取得できません";
        }
    });
</script>

</body>
</html>