<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
    <meta charset="UTF-8">
    <title>Timinute</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
    <div class="Logo">
        <img th:src="@{/image/Timinute_logo.png}" alt="ロゴ画像">
    </div>

    <div class="usercontent">
        <div th:if="${param.error}" class="alert alert-danger">
            ユーザー名かパスワードが間違っています。
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            ログアウトしました。
        </div>

        <form th:action="@{/login}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div id="textinput">
                <div>
                    <h3>社員ID</h3>
                    <input type="text" class="textbox" name="username">
                </div>

                <div class="pw">
                    <h3>パスワード</h3>
                    <input type="password" class="textbox" name="password">
                </div>
            </div>
            <div>
                <button class="btn" id="loginBtn" type="submit">ログイン</button>
            </div>
        </form>
    </div>

    <script>
        document.getElementById("loginBtn").addEventListener("click", function(event) {
            const userId = document.querySelector("input[name='username']").value;
            const password = document.querySelector("input[name='password']").value;

            if (userId === "" || password === "") {
                event.preventDefault(); // フォームの送信を防止
                alert("社員IDとパスワードを入力してください");
            }
        });
    </script>
</body>
</html>

